name: tests

on:
  push:
    tags:
      - v*
    branches:
      - master
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: 1.25

      - uses: actions/checkout@v4
      
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
